body {
    text-align: center;
/*    color: white;*/
    font-size: x-large;
/*	background-color: rgb(8, 10, 29);*/
}

.est, .rus {
    margin: 0 auto;
}

.est {
	padding-top: 40vh;
	padding-bottom: 1em;
	text-transform: uppercase;
}
.rus {
	padding-top: 1em;
	padding-bottom: 40vh;
	text-transform: uppercase;
}

td {
	border-bottom: 1px solid white;
	vertical-align: top;
}

table {
	width: 100%;
}9