body {
    text-align: center;
    color: white;
    font-size: x-large;
    border: 2px solid black;
}

.est, .rus {
    margin: 0 auto;
}

.est {
	padding-top: 40vh;
	padding-bottom: 1em;
	text-transform: uppercase;
}
.rus {
	padding-top: 1em;
	padding-bottom: 40vh;
	text-transform: uppercase;
}

.est {
    background-color: rgb(41, 8, 8);
}

.rus {
    background-color: rgb(8, 10, 29);
}
